<!-- <button type="button" (click)="addCallback()" pButton label="Add Callback"></button> -->

<!--Control Sidebar-->
<!--TODO: Button to collapse/expand-->
<!-- <div class="ui-g"> -->
<mat-sidenav-container class="side-container" style="height: 100vh">
  <mat-sidenav style="background: rgb(255, 255, 255);width: calc(100vw - 85vw);" #sidenav mode="side"
    [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <div class="text-center" >
      <!-- (click)="showDialog()" -->
      <button mat-button style="width: 100% ; padding-top: 7px" color="primary" (click)="addCallback()"><i
          class="fa fa-plus-circle"></i>&nbsp;Add
        Callback</button>

      <button *ngIf="callbackEntry !== null" mat-button style="width: 100% ; padding-top: 7px" color="primary"
        (click)="saveCallback()"><i class="fa fa-save"></i>Save</button>
    </div>
    <mat-divider></mat-divider>
    <ul style="padding: 5px;">
      <li class="callbackList" *ngFor='let callbackEntry of callbackList' (click)='selectedCallback(callbackEntry)'
        style='cursor:pointer;'>
        <span>{{callbackEntry.name}}</span>
      </li>
    </ul>

  </mat-sidenav>
  <mat-sidenav-content>
    <i *ngIf="opened" (click)="sidenav.toggle()" title="callback toggel"
      style="position: absolute;z-index: 9999;padding: 8px 4px;" class="fa fa-arrow-left"></i>
    <i *ngIf="!opened" title="callback toggel" style="position: absolute;z-index: 9999;padding: 8px 4px;"
      (click)="sidenav.toggle()" class="fa fa-arrow-right"></i>


    <p-accordion>
      <p-accordionTab header="State Diagram" [selected]="!select">
        <div class="ui-g" style="padding: 0.2rem; height: 75vh;">
          <div class="ui-g-10"
            *ngIf="activeTabIndex === 0 || activeTabIndex === 1 || activeTabIndex === 2 || activeTabIndex === 3"
            style="padding: 0">
            <app-callback-sd (actionAdded)="actionAdded($event)" (stateAdded)="stateAdded($event)"
              [currentState]="currentState" [action]="currentAction" [openFlag]="openFlag"
              (openFlagChanged)="openFlagChanged($event)" [(activeTabIndex)]="activeTabIndex" [callback]="callback">
            </app-callback-sd>
          </div>
          <div class="ui-g-2"
            *ngIf="activeTabIndex === 0 || activeTabIndex === 1 || activeTabIndex === 2 || activeTabIndex === 3"
            style="padding: 0">
            <!-- <div class="ui-g" style=" background: #c0d3d6;height: 25px;border-radius: 4px;padding: 4px">
              <div class="ui-g-12" style="padding: 0px">
                <label>Trigger And Action</label>
              </div>
            </div> -->
            <div style="padding: 0 ;">
              <app-callback-sd-trigger-action [currentState]="currentState" (currentAction)="currentActionGet($event)"
                 [callback]="callback">
              </app-callback-sd-trigger-action>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Flowchart Diagram" [(selected)]="select">
        <div class="ui-g" style="padding: 0.2rem;">
          <div class="ui-g-2" style="z-index: 200" >
            <app-callback-sidebar-menu [selectedTabIndex]="1" (loaded)="sidebarLoaded=true">
            </app-callback-sidebar-menu>
          </div>
          <div class="ui-g-10" style="z-index: 100">
            <app-callback-flowchart [action]="currentAction" [callback]="callback"></app-callback-flowchart>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <!-- <div class="ui-g" style="padding: 0.2rem;"> -->
    <!-- <div class="ui-g-2" style="margin-top: 42px ; padding: 0;">
        <app-callback-sidebar-menu [selectedTabIndex]="activeTabIndex" (loaded)="sidebarLoaded=true">
        </app-callback-sidebar-menu>
      </div> -->

    <!-- Remove TabView and saparate component should come on side by side on condition basis -->
    <!-- <div class="ui-g-10"
        *ngIf="activeTabIndex === 0 || activeTabIndex === 1 || activeTabIndex === 2 || activeTabIndex === 3"
        style="padding: 0">
        <app-callback-sd (actionAdded)="actionAdded($event)" (stateAdded)="stateAdded($event)"
          [currentState]="currentState" [(activeTabIndex)]="activeTabIndex" [callback]="callback">
        </app-callback-sd>
      </div> -->

    <!-- <p-sidebar [visible]="activeTabIndex === 3" [modal]="false" [showCloseIcon]="false" position="right"
        [baseZIndex]="10000" [style]="{'width': '590px', 'height': 'auto', 'top': 'auto'}">
        <div class="ui-g">
          <div class="ui-g-11">
            <span>Trigger And Action</span>
          </div>
          <div class="ui-g-1">
            <i (click)="closeSideBar()" style="float: right" title="close pannel" class="fa fa-times"></i>
          </div>
        </div>
        <div style="padding: 0 ; width: 590px">
          <app-callback-sd-trigger-action [currentState]="currentState" [callback]="callback"></app-callback-sd-trigger-action>
          <button type="button" pButton label="Add Trigger" (click)="addTrigger()"></button>
          <button type="button" pButton label="Add Action" (click)="AddActionDialog = true"></button>
        </div>
      </p-sidebar> -->

    <!-- <mat-drawer-container>
      <mat-drawer #drawer position="end" mode="side" [hasBackdrop]="false" [(opened)]="opened"
        (opened)="events.push('open!')" (closed)="events.push('close!')">
        <div class="ui-g">
          <div class="ui-g-11">
            <span>Acttion Flowchart Diagram</span>
          </div>
          <div class="ui-g-1">
            <i (click)="drawer.toggle()" style="float: right" title="close pannel" class="fa fa-times"></i>
          </div>
        </div>
        <div style="padding: 0 27px 0 0 ; width: calc(100vw - 65vw);">
          <p-fieldset>
            <app-callback-flowchart [action]="currentAction" [callback]="callback"></app-callback-flowchart>
          </p-fieldset>
        </div>
      </mat-drawer>
      <mat-drawer-content> -->
    <!-- <div class="ui-g" style="padding: 0.2rem; height: 75vh;">
          <div class="ui-g-2" style="margin-top: 42px ; padding: 0;">
            <app-callback-sidebar-menu [selectedTabIndex]="activeTabIndex" (loaded)="sidebarLoaded=true">
            </app-callback-sidebar-menu>
          </div>
          <div class="ui-g-10"
            *ngIf="activeTabIndex === 0 || activeTabIndex === 1 || activeTabIndex === 2 || activeTabIndex === 3"
            style="padding: 0">
            <app-callback-sd (actionAdded)="actionAdded($event)" (stateAdded)="stateAdded($event)"
              [currentState]="currentState" [(activeTabIndex)]="activeTabIndex" [callback]="callback">
            </app-callback-sd>
          </div>
        </div> -->
    <!-- </mat-drawer-content>
    </mat-drawer-container> -->


    <!-- <p-sidebar [visible]="activeTabIndex === 1" [modal]="false" [showCloseIcon]="false" position="right"
        [baseZIndex]="10000" [style]="{'width': '590px', 'height': 'auto', 'top': 'auto'}">
        <div class="ui-g">
          <div class="ui-g-11">
            <span>Acttion Flowchart Diagram</span>
          </div>
          <div class="ui-g-1">
            <i (click)="closeSideBar()" style="float: right" title="close pannel" class="fa fa-times"></i>
          </div>
        </div>
        <div style="padding: 0 27px 0 0 ; width: 590px">
          <p-fieldset>
            <app-callback-flowchart [action]="currentAction" [callback]="callback"></app-callback-flowchart>
          </p-fieldset>
        </div>
      </p-sidebar> -->

    <div class="ui-g-5" *ngIf="activeTabIndex === 2" style="padding: 0">
      <p>Source Code</p>
    </div>
    <!-- <div class="ui-g-10" *ngIf="activeTabIndex === 1" style="padding: 0">
          <p-tabView ([activeIndex])="activeTabIndex" (onChange)="activeTabIndex = $event.index">
            <p-tabPanel header="State Diagram" [selected]="activeTabIndex === 0">
              <app-callback-sd (actionAdded)="actionAdded($event)" (stateAdded)="stateAdded($event)"
                [callback]="callback"></app-callback-sd>
            </p-tabPanel>
            <p-tabPanel *ngIf="sidebarLoaded === true" header="Action Flowchart" [selected]="activeTabIndex === 1">
              <app-callback-flowchart [action]="currentAction" [callback]="callback"></app-callback-flowchart>
            </p-tabPanel>
            <p-tabPanel header="Source Code" [selected]="activeTabIndex === 2">
              <p>Source Code</p>
            </p-tabPanel>
          </p-tabView>
        </div> -->

    <!-- <div class="ui-g-10" style="padding: 0">
        <p-tabView ([activeIndex])="activeTabIndex" (onChange)="activeTabIndex = $event.index">
          <p-tabPanel header="State Diagram" [selected]="activeTabIndex === 0">
            <app-callback-sd (actionAdded)="actionAdded($event)" (stateAdded)="stateAdded($event)"
              [callback]="callback"></app-callback-sd>
          </p-tabPanel>
          <p-tabPanel *ngIf="sidebarLoaded === true" header="Action Flowchart" [selected]="activeTabIndex === 1">
            <app-callback-flowchart [action]="currentAction" [callback]="callback"></app-callback-flowchart>
          </p-tabPanel>
          <p-tabPanel header="Source Code" [selected]="activeTabIndex === 2">
            <p>Source Code</p>
          </p-tabPanel>
        </p-tabView>
      </div> -->
    <!-- </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- </div> -->
<!-- Add Trigger dialog -->
<div>
  <!-- <button type="button" (click)="openDialog()" pButton label="Open Dialog"></button>   -->
  <p-dialog header="Add Trigger" [(visible)]="AddTriggerDialog" appendTo="body" [contentStyle]="{'overflow':'visible'}"
    [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '250px'}" [minY]="70" [maximizable]="false"
    [baseZIndex]="10000">
    <app-sd-addtriggerdialog *ngIf="newTriggerName" [states]="callback.states" [triggerName]="newTriggerName"
      (success)="addTriggerNode($event)"></app-sd-addtriggerdialog>
  </p-dialog>
</div>

<!-- AddCallback Popup -->
<p-dialog header="Add Callback" [modal]="true" appendTo="body" [contentStyle]="{'overflow':'visible'}"
  [(visible)]="AddCallbackDialog" [style]="{width: '470px', minWidth: '370px' , minHeight: 'fit-content'}">
  <div class="ui-g">
    <div class="ui-g-4">
      <span>Name</span>
    </div>
    <div class="ui-g-6">
      <input type="text" pInputText [(ngModel)]='name'>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4">
      <span>Description</span>
    </div>
    <div class="ui-g-6">
      <input type="text" pInputText [(ngModel)]='description'>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4">
      <span>Execute On</span>
    </div>
    <div class="ui-g-6">
      <p-dropdown placeholder='Select OnTrigger' [style]="{'width': '150px'}" appendTo="body"
        [options]="onTriggerEvents" [(ngModel)]="onTrigger">
      </p-dropdown>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4">
      <span>Pages</span>
    </div>
    <div class="ui-g-6">
      <p-multiSelect defaultLabel='Select Page' [style]="{'width': '150px'}" appendTo="body" [options]="page"
        [(ngModel)]="pageid"></p-multiSelect>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4">
      <span>Channel</span>
    </div>
    <div class="ui-g-6">
      <p-dropdown placeholder='Select Channel' [style]="{'width': '150px'}" appendTo="body" [options]="channels"
        [(ngModel)]="channel">
      </p-dropdown>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton (click)="AddCallbackDialog=false; addCallbackData()" label="Save"></button>
  </p-footer>
</p-dialog>