<!--
  <!- - added in toolbar - ->
<div class="sidebar node-palette" jsplumb-palette selector="li" surfaceId="callbackSDSurface" [typeExtractor]="typeExtractor" [dataGenerator]="dataGenerator">
  <ul>
      <li *ngFor="let nodeType of nodeTypes" [attr.jtk-node-type]="nodeType.type" title="Drag to add new" [attr.jtk-width]="nodeType.w" [attr.jtk-height]="nodeType.h">{{nodeType.label}}</li>
  </ul>
</div>
-->
<jsplumb-surface [surfaceId]="surfaceId" [toolkitId]="toolkitId" [view]="view" [renderParams]="renderParams" [nodeResolver]="resolveNode"></jsplumb-surface>
<jsplumb-miniview [surfaceId]="surfaceId"></jsplumb-miniview>
<jsplumb-controls [surfaceId]="surfaceId"></jsplumb-controls>

<!-- Trigger Dialog -->
<div>
<!-- <button type="button" (click)="openDialog()" pButton label="Open Dialog"></button>   -->
<p-dialog header="Add Trigger" [(visible)]="showTriggerDialog" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '250px'}" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <app-sd-addtriggerdialog *ngIf="newTriggerName" [states]="callback.states" [triggerName]="newTriggerName" (success)="addTriggerNode($event)"></app-sd-addtriggerdialog>
</p-dialog>
</div>


<div>
<p-dialog header="Add Action" [(visible)]="showActionDialog" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '250px'}" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <p-fieldset *ngIf="newActionName">
    <!-- Trigger Input-->
    <div class="ui-g">
      <div class="ui-g-4 label" >
        <label for="State Name">Trigger</label>
      </div>
      <div class="ui-g-8 field">
        <p-dropdown [options]="callback.triggers" [(ngModel)]="selectedTriggerForAction" placeholder="Select Trigger" optionLabel="name" [showClear]="true"></p-dropdown>
        <!--<input pInputText type="text" size="20" disabled="disabled" [(ngModel)]="stateName"/>-->
      </div>    
    </div>

    <!--Action Name-->
    <div class="ui-g">
      <div class="ui-g-4 label">
        <label>Action Name</label>
      </div>
      <div class="ui-g-8 field">
        <input pInputText type="text" size="20" disabled="disabled" [(ngModel)]="newActionName"/>
      </div>
    </div>


    <!--Button to add -->
    <div class="ui-g">
      <div class="ui-g-7 ui-g-offset-5">
        <button type="button" (click)="submitAddAction()" pButton label="Add" [style]="{float: 'left'}"></button>  
      </div>
    </div>
    </p-fieldset>
</p-dialog>
</div>



