
<p-tieredMenu *ngIf="dummyItems.length > 0" [model]="dummyItems" [baseZIndex]="10000" [style]="{'font-size': '13px'}">
</p-tieredMenu>



<div class="p-1" [style.display]="selectedTabIndex === 0 || selectedTabIndex === 3?'block':'none'" jsplumb-palette
  selector=".drag" surfaceId="callbackSDSurface" [typeExtractor]="typeExtractor" [dataGenerator]="dataGenerator"
  style="">
  <span class="drag" [attr.jtk-node-type]="sdToolbarTreeData[0].data.type" title="Drag to add action api"
    [attr.jtk-width]="sdToolbarTreeData[0].data.w" [attr.jtk-height]="sdToolbarTreeData[0].data.h">state</span>
</div>


<!-- <p-accordion [multiple]="true">
  <p-accordionTab [selected]="true" header="Tooolbar">
    <p-header>Toolbar</p-header> -->
<!--Control for State diagram-->
<!-- <div class="p-1" [style.display]="selectedTabIndex === 0 || selectedTabIndex === 3?'block':'none'" jsplumb-palette
      selector=".drag" surfaceId="callbackSDSurface" [typeExtractor]="typeExtractor" [dataGenerator]="dataGenerator"
      style="width: 104%; max-height: 80vh; font-size: 1.5rem;overflow-y: auto">
      <span class="drag" [attr.jtk-node-type]="sdToolbarTreeData[0].data.type" title="Drag to add action api"
        [attr.jtk-width]="sdToolbarTreeData[0].data.w" [attr.jtk-height]="sdToolbarTreeData[0].data.h">state</span> -->

<!-- <p-tree [value]="sdToolbarTreeData">
        <ng-template let-node pTemplate="default">
          <span class="drag" [attr.jtk-node-type]="node.data.type" title="Drag to add action api"
            [attr.jtk-width]="node.data.w" [attr.jtk-height]="node.data.h">{{node.label}}</span><br>
        </ng-template>
      </p-tree> -->
<!-- </div> -->

<!--Controls for Flow chart-->
<!--jsplumb-palette selector="li" surfaceId="callbackSDSurface" These attributes are for jsplumb drag/drop.-->
<!--For padding of 1.5rem-->
<div [style.display]="selectedTabIndex === 1?'block':'none'" class="p-1" jsplumb-palette selector=".drag"
  surfaceId="callbackFlowchartSurface" [typeExtractor]="typeExtractor" [dataGenerator]="dataGenerator"
  style="">
  <!--Render api using tree. -->


  <!-- <nav class="navigation">
    <ul class="mainmenu">
      <li><span class="drag" [attr.jtk-node-type]="'question'" [attr.jtk-width]="180" [attr.jtk-height]="70"
          title="Drag to add action api">Condition
        </span></li>
      <li><span>SPA</span>
        <ul class="submenu" style="margin-left: 10px">
          <li><span>Page Transition Start</span></li>
          <li><span>Page Transition End</span></li>
        </ul>
      </li>
      <li><span>State</span></li>
      <li><span>Session_Data</span></li>
      <li><span>LoginId</span></li>
      <li><span>SessionId</span></li>
      <li><span>LogEvent</span></li>
      <li><span>Contact us</span></li>
    </ul>
  </nav> -->

  <!-- <button mat-button [matMenuTriggerFor]="fp">API</button>
  <mat-menu #fp="matMenu">
    <span>
      <span mat-menu-item>{{fpToolbarTreeData[0].label}}</span>
      <span mat-menu-item [matMenuTriggerFor]="subMenu">{{fpToolbarTreeData[1].label}}</span>
    </span> -->
    <!-- <span mat-menu-item [matMenuTriggerFor]="invertebrates">SPA</span> -->
  <!-- </mat-menu>

  <mat-menu #subMenu="matMenu">
    <span *ngFor="let submenu of fpToolbarTreeData[1].children ; let i = index;">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">{{submenu.label}}</button>
    </span>
  </mat-menu> -->





  <p-tieredMenu [appendTo]="'body'" [model]="items" [baseZIndex]="10000" [style]="{'font-size': '13px'}">
    <!-- <ng-template let-node pTemplate="default">
      <span *ngIf="node.data.type === 'question'" class="drag" [attr.jtk-node-type]="'question'"
        title="Drag to add action api" [attr.jtk-width]="180" [attr.jtk-height]="70">{{node.label}}</span>
      <span *ngIf="node.data.type === 'folder'">{{node.label}}</span>
      <span *ngIf="node.data.api" class="action-api drag" [attr.api]="node.data.id" [attr.jtk-node-type]="'action'"
        title="Drag to add action api" [attr.jtk-width]="180" [attr.jtk-height]="70">{{node.label}}</span>
    </ng-template> -->
  </p-tieredMenu>



  <!-- <p-tree [value]="fpToolbarTreeData" [filter]="true">
    <ng-template let-node pTemplate="default">
      <span *ngIf="node.data.type === 'question'" class="drag" [attr.jtk-node-type]="'question'"
        title="Drag to add action api" [attr.jtk-width]="180" [attr.jtk-height]="70">{{node.label}}</span>
      <span *ngIf="node.data.type === 'folder'">{{node.label}}</span>
      <span *ngIf="node.data.api" class="action-api drag" [attr.api]="node.data.id" [attr.jtk-node-type]="'action'"
        title="Drag to add action api" [attr.jtk-width]="180" [attr.jtk-height]="70">{{node.label}}</span>
    </ng-template>
  </p-tree> -->

</div>
<!-- </p-accordionTab>
</p-accordion> -->

