<p-fieldset>
  <!-- State Input-->
  <div class="ui-g">
    <div class="ui-g-4 label" >
      <label for="State Name">State</label>
    </div>
    <div class="ui-g-8 field">
      <p-dropdown [options]="stateList" [(ngModel)]="selectedState" placeholder="Select State" optionLabel="name" [showClear]="true"></p-dropdown>
      <!--<input pInputText type="text" size="20" disabled="disabled" [(ngModel)]="stateName"/>-->
    </div>    
  </div>

  <!--Trigger Name-->
  <div class="ui-g">
    <div class="ui-g-4 label">
      <label>Trigger Name</label>
    </div>
    <div class="ui-g-8 field">
      <input pInputText type="text" size="20" disabled="disabled" [(ngModel)]="triggerName"/>
    </div>
  </div>

  <!--Trigger type-->
  <div class="ui-g">
    <div class="ui-g-4 label">
      <label>Trigger Type</label>
    </div>
    <div class="ui-g-8 field">
      <p-dropdown [options]="TriggerTypes" [(ngModel)]="triggerType" placeholder="Select Trigger" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
  </div>  

  <!--Argument 1: Dom Selector-->
  <div *ngIf="triggerType && firstArgument[triggerType.code] == 'DOM_SELECTOR'" class="ui-g">
    <div class="ui-g-4 label">
      <label>Dom Selector</label>
    </div>
    <div class="ui-g-8 field">
      <input type="text" size="30" pInputText (input)="dirty = false" [class.invalid]="dirty === true && !domSelector"  [(ngModel)]="domSelector" required/>
    </div>
  </div>  

  <!--Argument1: URL Pattern -->
  <div *ngIf="triggerType && firstArgument[triggerType.code] == 'URL_PATTERN'" class="ui-g">
    <div class="ui-g-4 label">
      <label>URL Pattern</label>
    </div>
    <div class="ui-g-8 field">
      <input type="text" size="30" pInputText (input)="dirty = false" [class.invalid]="dirty === true && !urlPattern" [(ngModel)]="urlPattern" required/>
    </div>
  </div> 

  <!--Button-->
  <div class="ui-g">
    <div class="ui-g-4">
      <button type="button" (click)="reset()" pButton label="Reset" [style]="{float: 'right'}"></button>  
    </div>
    <div class="ui-g-4 ui-g-offset-4">
      <button type="button" (click)="submit()" pButton label="Add" [style]="{float: 'left'}"></button>  
    </div>
  </div>
</p-fieldset>